.container {
  margin: 0 auto;
  max-width: 960px;
}

#font {
	color:#7C2DBF;
	font-family: 'Open Sans', sans-serif;

}
#font-gray{
	font-family: 'Open Sans', sans-serif;

}
#font a{
	color:#7C2DBF;
	font-family: 'Open Sans', sans-serif;

}


#titlefont {
	font-size:90px;
}

#navfont {
	color: black;
}


#button {
	background: #FFFFFF ;
	border-color: #FFFFFF ;
	color:#7C2DBF;
	font-size: 20px;
font-family: 'Open Sans', sans-serif;

}

#titlefont {
	color: #7C2DBF;
}

#titletext {
	font-size: 28px;
}


#circlepic {
	margin-bottom:10px;
}
	
#row {
	margin-left:40px;
}

#grouphead {
	color: #7C2DBF;
}

#center {
	:center;
	}
	
#pledgelist {
	font-size:30px;
}

#pledgelist {
	font-family: 'Lora', serif; !important;
	font-size: 20px;
}

#resourcelist {
	font-family: 'Lora', serif; !important;
	font-size: 16px;
}

#source {
	font-family: 'Lora', serif; !important;
	font-size: 12px;
}

#navbar-brand {
	margin-top:-12px;
}

#grouphead {
	margin-left:10px;
	color:#7C2DBF;
	font-family: 'Open Sans', sans-serif;


}

#campaigninfo {
	font-family: 'Lora', serif; !important;
	font-size: 18px;
}

#imgback {
	background-color:#C8C8C8;
}

#footer {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background:#ee5;
}
